{% extends "base.html" %}
{% block title %}Time Reports | {{ super() }}{% endblock %}
{% block container %}
  <main class="row d-flex justify-content-center align-items-center">
    <div class="col col-lg-8">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Task #1 title</h5>
            <div>
              <a href="#" class="ms-1 btn btn-outline-primary">Update</a>
              <a href="#" class="ms-1 btn btn-outline-danger">Delete</a>
            </div>
          </div>
          <span class="me-md-5 me-3">August 24, 2022</span>
          <span>2.5 h</span>
        </li>
        <li class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Task #1 title</h5>
            <div>
              <a href="#" class="ms-1 btn btn-outline-primary">Update</a>
              <a href="#" class="ms-1 btn btn-outline-danger">Delete</a>
            </div>
          </div>
          <span class="me-md-5 me-3">August 25, 2022</span>
          <span>1.5 h</span>
        </li>
        <li class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Task #1 title</h5>
            <div>
              <a href="#" class="ms-1 btn btn-outline-primary">Update</a>
              <a href="#" class="ms-1 btn btn-outline-danger">Delete</a>
            </div>
          </div>
          <span class="me-md-5 me-3">August 26, 2022</span>
          <span>0.5 h</span>
        </li>
      </ul>
    </div>
  </main>
{% endblock %}
