{% extends "base.html" %}
{% block title %}Timelog Form | {{ super() }}{% endblock %}
{% block container %}
  <main class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-lg-8">

      <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
          {% if form.task.errors %}
            {{ form.task(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.task.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.task.label(class="form-label") }}
            {{ form.task(class="form-control") }}
          {% endif %}
        </div>

        <div class="mb-3">
          {% if form.time_reported.errors %}
            {{ form.time_reported(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.time_reported.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.time_reported.label(class="form-label") }}
            {{ form.time_reported(class="form-control", step=0.1) }}
          {% endif %}
        </div>

        <div class="mb-3">
          {% if form.date_reported.errors %}
            {{ form.date_reported(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.date_reported.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.date_reported.label(class="form-label") }}
            {{ form.date_reported(class="form-control") }}
          {% endif %}
        </div>

        <div class="d-flex justify-content-center align-items-center">
          <a href="{{ url_for("log_list") }}" class="btn btn-lg btn-block btn-secondary">Cancel</a>
          <button class="ms-3 btn btn-lg btn-block btn-primary">Report</button>
        </div>
      </form>

    </div>
  </main>
{% endblock %}
