{% extends "base.html" %}
{% block title %}Timelog Form | {{ super() }}{% endblock %}
{% block container %}
  <main class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-lg-8">
      <!-- TODO: change form method to POST -->
      <form>
        <!-- TODO: add CSRF protection field -->

        <div class="mb-3">
          <label class="form-label" for="task_uid">Task</label>
          <select class="form-control" id="task_uid" name="task_uid">
            <option value="cb00160f-1582-4ae2-9dfe-4471869650ae">Task #1 title</option>
            <option value="ce302343-d28c-4375-a451-2c706db0b2d2">Task #2 title</option>
            <option value="f198fa2f-d864-45a6-9a39-2426473eb664">Task #3 title</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="value">Time spent</label>
          <input class="form-control" id="value" name="value" step="0.1" type="number">
        </div>

        <div class="mb-3">
          <label class="form-label" for="date">Date</label>
          <input class="form-control" id="date" name="date" type="date">
        </div>

        <div class="d-flex justify-content-center align-items-center">
          <a href="#" class="btn btn-lg btn-block btn-secondary">Cancel</a>
          <button class="ms-3 btn btn-lg btn-block btn-primary">Report</button>
        </div>
      </form>

    </div>
  </main>
{% endblock %}
