{% extends "base.html" %}
{% block title %}Time Reports | {{ super() }}{% endblock %}
{% block container %}
  <main class="row d-flex justify-content-center align-items-center">
    <div class="col col-lg-8">
      {% if object_list %}
        <ul class="list-group">
          {% for object in object_list %}
            <li class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ object.task.title }}</h5>
                <div>
                  {# TODO: change identifier field refernce to "pk" #}
                  <a href="{{ url_for("log_update", pk=object.id ) }}" class="ms-1 btn btn-outline-primary">Update</a>
                  <a href="{{ url_for("log_delete", pk=object.id ) }}" class="ms-1 btn btn-outline-danger">Delete</a>
                </div>
              </div>
              <span class="me-md-5 me-3">{{ object.date_reported }}</span>
              <span>{{ object.time_reported }} h</span>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <h3 class="text-center">
          No reports found
        </h3>
      {% endif %}
    </div>
  </main>
{% endblock %}
