{% extends "base.html" %}
{% block title %}Sign Up | {{ super() }}{% endblock %}
{% block container %}
  <main class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-3 col-6">

      <!-- TODO: change form method to POST -->
      <form>
        <!-- TODO: add CSRF protection field -->
        <div class="form-floating mb-3">
          <input class="form-control" id="username" name="username" placeholder="Username"
                 type="text">
          <label for="username" class="form-label">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" id="first_name" name="first_name" placeholder="First Name" type="text">
            <label class="form-label" for="first_name">First Name</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" id="last_name" name="last_name" placeholder="Last Name" type="text">
            <label class="form-label" for="last_name">Last Name</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control form-control is-invalid" id="email" name="email" placeholder="Email"
                   type="email" value="sample@email.org"> <!-- TODO: remove example value -->
            <label for="email" class="form-label">Email</label>
            <div class="invalid-feedback"> <!-- error message example -->
              <span>This email is already registered.</span>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" id="password" name="password" placeholder="Password"
                   type="password">
            <label for="password" class="form-label">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password"
                   type="password">
            <label for="confirm_password" class="form-label">Confirm Password</label>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-lg btn-block btn-primary">Sign Up</button>
          </div>
          <div class="d-flex justify-content-center mt-4">
            <!-- TODO: fix dead link to sign in page -->
            <p class="text-muted">Already has an account?<a class="text-body fw-bold ms-1" href="#">Sign In</a>.</p>
          </div>
        </form>

      </div>
    </main>
{% endblock %}
