{% extends "base.html" %}
{% block title %}Sign Up | {{ super() }}{% endblock %}
{% block container %}
  <main class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-3 col-6">

      <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-floating mb-3">  <!-- username input -->
          {% if form.username.errors %}
            {{ form.username(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.username(class="form-control", placeholder="Username") }}
            {{ form.username.label(class="form-label") }}
          {% endif %}
        </div>
        <div class="form-floating mb-3">  <!-- first name input -->
          {% if form.first_name.errors %}
            {{ form.first_name(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.first_name.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.first_name(class="form-control", placeholder="First Name") }}
            {{ form.first_name.label(class="form-label") }}
          {% endif %}
        </div>
        <div class="form-floating mb-3">  <!-- last name input -->
          {% if form.last_name.errors %}
            {{ form.last_name(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.last_name.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.last_name(class="form-control", placeholder="Last Name") }}
            {{ form.last_name.label(class="form-label") }}
          {% endif %}
        </div>
        <div class="form-floating mb-3">  <!-- email input -->
          {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.email(class="form-control", placeholder="Email") }}
            {{ form.email.label(class="form-label") }}
          {% endif %}
        </div>
        <div class="form-floating mb-3">  <!-- password input -->
          {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.password(class="form-control", placeholder="Password") }}
            {{ form.password.label(class="form-label") }}
          {% endif %}
        </div>
        <div class="form-floating mb-3">  <!-- confirm password input -->
          {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
            {{ form.confirm_password.label(class="form-label") }}
          {% endif %}
        </div>
        <div class="d-flex justify-content-center align-items-center">
          {{ form.submit(class="btn btn-block btn-lg btn-primary") }}
        </div>
        <div class="d-flex justify-content-center mt-4">
          <p class="text-muted">Already has an account?
            <a class="text-body fw-bold ms-1" href="{{ url_for("signin") }}">Sign In</a>.
          </p>
        </div>
      </form>

    </div>
  </main>
{% endblock %}
