<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <!-- TODO: add title block -->
  <title>Time Reports | Time Tracker</title>
  <link href="../static/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="../static/style.css" rel="stylesheet">
  <!--suppress SpellCheckingInspection -->
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" rel="stylesheet">
</head>
<body>

<!-- TODO: move navbar to a separate HTML file for include -->
<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid ms-5 me-5">
    <span class="navbar-brand">Time Tracker</span>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-bs-target="#navbarContent" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Time reports</a>   <!-- TODO: fix dead link -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Create report</a>  <!-- TODO: fix dead link -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign Up</a>        <!-- TODO: fix dead link -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign In</a>        <!-- TODO: fix dead link -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Logout</a>         <!-- TODO: fix dead link -->
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <div class="vh-100">

    <main class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-8">
        <!-- TODO: change form method to POST -->
        <form>
          <!-- TODO: add CSRF protection field -->

          <div class="mb-3">
            <label class="form-label" for="task_uid">Task</label>
            <select class="form-control" id="task_uid" name="task_uid">
              <option value="cb00160f-1582-4ae2-9dfe-4471869650ae">Task #1 title</option>
              <option value="ce302343-d28c-4375-a451-2c706db0b2d2">Task #2 title</option>
              <option value="f198fa2f-d864-45a6-9a39-2426473eb664">Task #3 title</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label" for="value">Time spent</label>
            <input class="form-control" id="value" name="value" step="0.1" type="number">
          </div>

          <div class="mb-3">
            <label class="form-label" for="date">Date</label>
            <input class="form-control" id="date" name="date" type="date">
          </div>

          <div class="d-flex justify-content-center align-items-center">
            <a href="#" class="btn btn-lg btn-block btn-secondary">Cancel</a>
            <button class="ms-3 btn btn-lg btn-block btn-primary">Report</button>
          </div>
        </form>

      </div>
    </main>

  </div>
</div>

<footer>

</footer>
<!--suppress SpellCheckingInspection -->
<script crossorigin="anonymous" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
